{{>layout/header}} <!-- >가 현재 파일, 경로타고 다른 파일 가져오기, 여기선 헤더 -->

<h1>스프링 부트로 시작하는 웹 서비스 Ver.2</h1>
<div class="col-md-12">
    <!-- 로그인 기능 영역 -->
    <div class="row">
        <div class="col-md-6">
            <a href="/posts/save" role="button" class="btn btn-primary">글 등록</a>
            <!-- 로그인 계정의 이름이 아닌 노트북 계정의 이름이 뜨는 현상 해결 -->
            <!-- userName => user,  userName => name -->
            {{#user}} <!-- 머스테치는 if문 없이 TF만 판단. 그래서 항상 최종값을 넘겨주어야 함. -->
                Logged in as : <span id="user">{{name}}</span>
                <a href="/logout" class="btn btn-info active" role="button">Logout</a>
                <!-- 스프링 시큐리티가 제공하는 로그아웃 url, 개발자가 별도의 로그아웃 url컨트롤러 만들 필요X -->
            {{/user}}
            {{^user}} <!-- 해당 값이 존재하지 않는 경우 여기로 빠짐, 여기서는 로그인 다시하게 끔 유도 -->
                <!-- 스프링 시큐리티가 제공하는 로그인 url, 개발자가 별도의 로그인 url컨트롤러 만들 필요X -->
                <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">Google Login</a>
                <a href="/oauth2/authorization/naver" class="btn btn-secondary active" role="button">Naver Login</a>
            {{/user}}
        </div>
    </div>
    <br>
    <!-- 목록 출력 영역 -->
    <table class="table table-horizontal table-boarded">
        <thead class="thead-strong"> <!-- 관성처럼 thread로 썼었는데 t head 였습니다...ㅎ -->
        <tr>
            <th>게시글번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>최종수정일</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {{#posts}} <!-- posts List를 순회 (반복문 역할) -->
        <tr>
            <td>{{id}}</td> <!-- List에서 뽑아낸 객체의 필드를 사용 -->
            <!-- <td>{{title}}</td> -->
            <td><a href="/posts/update/{{id}}">{{title}}</a></td> <!-- title에 a 태그를 추가, 타이틀 클릭시 수정 화면으로 이동 -->
            <td>{{author}}</td>
            <td>{{modifiedDate}}</td>
        </tr>
        {{/posts}}
        </tbody>
    </table>
</div>

{{>layout/footer}} <!-- >가 현재 파일, 경로타고 다른 파일 가져오기, 여기선 푸터 -->